.searchSection {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
}

.searchInput {
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 240px;
}

.searchButton {
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    background-color: #65c58b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 240px;
    width: 100%;
    margin: 0 auto;
}

.searchButton:hover {
    background-color: #1ec561;
}