.App {
  margin: 0 auto;
  width: 1280px;
  display: grid;
  grid-template-areas: 
  "app-header"
  "content";
  grid-template-rows: 75px 1fr;
  grid-template-columns: 1fr;

  background-color: #7FDFE6;
}
